// IMPORTING GOOGLE FONTS FOR THE APP
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700');

// SETTING SASS PRIMARY VARIABLES
$light: #f8f8f8;
$turquoise: #44ddd0;
$green: #27d7a1;
$light-green: #45f69e;
$dark-green: rgb(0, 100, 80);

// UPDATING BULMA'S GLOBAL VARIABLES
$family-sans-serif: "Nunito", sans-serif;
$primary: $green;
$link: $light-green;

// UPDATING BULMA'S COMPONENT VARIABLES
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// SETTING CUSTOM GLOBAL STYLES
html {
  background: linear-gradient(to right top, $turquoise, $green);
}

html, body {
  height: 100%;
}

